@model  AspNetCoreTraining.Models.ViewModel.ToDoViewModel

@{ 
    this.ViewBag.Title = "Manage your To-Do List";
}

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@this.ViewBag.Title</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Item</td>
                <td>Due</td>
            </tr>
        </thead>
        @foreach (var item in this.Model.Items)
        {
            <tr>
                <td><input type="checkbox" class="done-checkbox" /></td>
                <td>@item.Title</td>
                <td>@item.DueAt</td>
            </tr>
        }
    </table>
    <div class="panel-footer add-item-form">
        <!-- TODO: add item form -->
    </div>
</div>