@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

@if (this.signInManager.IsSignedIn(this.User))
{
    var currentUser = await this.userManager.GetUserAsync(this.User);

    if (currentUser != null)
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="ToDo" asp-action="Index">My To-Do's</a>
            </li>
        </ul>
    }
}